@model Category;

<p>Delete Your data</p>
<form method="post">
    <div class="form-group">
          <input asp-for="@Model.CategoryId" type="text" class="form-control" hidden>
        <label asp-for="@Model.CategoryName">Category Name</label>
        <input asp-for="@Model.CategoryName" type="text" class="form-control" placeholder="Enter Category Name" readonly>
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" type="text" class="form-control" placeholder="Enter Description" readonly>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>